í{% extends 'base.html' %}

{% block content %}

<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="breadcrumb">
                    <li><a href="{% url 'home' %}"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
                    <li>Mis Publicaciones<i class="icon-angle-right"></i></li>
                    <li class="active">Listado</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="container">
{% for message in messages %}
<div class="alert alert-success alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  {{message}}
</div>
{% endfor %}
<br>
<table class="table table-striped">
	<thead>
		<tr>
			<th>#</th>
			<th>Título</th>
      <th>Estado de Publicación</th>
      <th></th>
		</tr>
	</thead>
	<tbody>
		{% if alquileres %}
		{% for alquiler in alquileres %}
		<tr>
			<td>{{ forloop.counter }}</td>
			<td>{{ alquiler.titulo }}</td>
      <td>{% if alquiler.estado == True %} Activo {% endif %} {% if alquiler.estado == False %} Inactivo {% endif %}</td>
			<td>
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Opciones
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="{% url 'alquiler_editar' alquiler.id %}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Editar</a>
                </li><li><a class="dropdown-item" href="{% url 'alquiler_subirImagen' alquiler.id  %}"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span> Subir imagen</a>
                {% if alquiler.estado == False %}
                </li><li><a class="dropdown-item" href="{% url 'alquiler_activar' alquiler.id %}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Habilitar</a>
                {% endif %}
                {% if alquiler.estado == True %}
                </li><li><a class="dropdown-item" href="{% url 'alquiler_desactivar' alquiler.id %}"><span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span> Deshabilitar</a>
                {% endif %}
               </li><li><a class="dropdown-item" href="{% url 'alquiler_borrar' alquiler.id %}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Eliminar</a></li>
            </div>
        </div>
      </td>
		</tr>
		{% endfor %}
		{% else %}
		<h1>Aún no has publicado alquileres...</h1>
		{% endif %}
	</tbody>
</table>
</div>
{% endblock%}
