{% extends "base.html" %}

{% block content %}

    {% if validlink %}

        <section id="inner-headline">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="breadcrumb">
                            <li><a href="#"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
                            <li>Usuarios<i class="icon-angle-right"></i></li>
                            <li class="active">Reestablecer</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
        		<form role="form" class="register-form" method="POST">
                    {% csrf_token %}
        			<h2>Nueva Contraseña</h2>
        			<hr class="colorgraph">

                    <div class="form-group">
                        <div class="text-danger"><strong>{{form.new_password1.errors}}</strong></div>
        				<input type="password" tabindex="1" name="new_password1" class="form-control input-lg" placeholder="Contraseña">
        			</div>

                    <div class="form-group">
                        <div class="text-danger"><strong>{{form.new_password2.errors}}</strong></div>
        				<input type="password" tabindex="2" name="new_password2" class="form-control input-lg" placeholder="Confirme contraseña">
        			</div>

        			<div class="row">
        				<div class="col-xs-12 col-md-6"><input type="submit" value="Finalizar!" class="btn btn-primary btn-block btn-lg" tabindex="3"></div>
        			</div>
        		</form>
        	</div>
        </div>

    {% else %}

        <section id="inner-headline">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="breadcrumb">
                            <li><a href="#"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
                            <li class="active">404 error</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section id="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                        <h2 class="error">404</h2>
                        <p class="lead">Lo sentimos, esta página no existe.</p>
                        </div>
                </div>
                </div>
            </div>
        </section>

    {% endif %}

{% endblock %}
